@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


/* @theme{
    --font-poppins: "Poppins", sans-serif;
} */

:root {
    --dark-black: #3C4242;
    --light-black: #807D7E;
    --purple-colour: #8A33FD;
    --light-bg-colour: #F6F6F6;
    --light-border: #BEBCBD;
    --purple-color: #8A33FD;
    --dark-border: #3C4242;
    --text-dark: #3C4242;
    --text-large: clamp(2.125rem, -0.075rem + 8.8vw, 4.875rem);
    --p-32-18: clamp(1.125rem, 0.425rem + 2.8vw, 2rem);
}

@layer components {
    body {
        font-family: "Poppins", sans-serif;
    }

    html {
        scroll-behavior: smooth;
        scroll-padding-top: 70px;
    }


    .selected-heart-btn>circle {
        fill: red;
    }

    .selected-heart-btn path {
        stroke: red;
        fill: white;
    }

    .selected-size-btn {
        background-color: var(--dark-black);
        color: white !important;
        border: 0px;
    }

    .selected-color-btn {
        position: relative;


    }

    .selected-color-btn::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 2px solid var(--dark-black);
        border-radius: 100%;
        transform: translate(-50%, -50%);
    }

    /* .custom-select {
        min-width: fit-content;
        background-color: transparent;
        z-index: 1;
    } */

    .custom-select select {
        appearance: none;
        width: 100%;
        padding: 0px 30px 0px 0px;
        background-color: transparent;
        color: #000;
        cursor: pointer;
    }

    .show {
        display: flex !important;
        flex-direction: column;
        row-gap: 10px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 70%;
        height: 100vh;
        background-color: rgb(255 255 255);
        z-index: 1000;
        box-shadow: 9px 0px 10px -5px rgba(97, 97, 97, 0.75);
    }

    .user-nav {
        display: flex !important;
        flex-direction: column;
        row-gap: 10px;
        position: absolute;
        top: -55px;
        padding-left: 20px;
        left: 0px;
        width: 75%;
        height: 100vh;
        background-color: rgb(255 255 255);
        z-index: 1000;
        box-shadow: 9px 0px 10px -5px rgba(97, 97, 97, 0.75);
    }

    .text-large {
        font-size: var(--text-large);
    }

    .p-50-25 {
        font-size: clamp(1.5625rem, 0.9615rem + 2.4038vw, 3.125rem);
    }

    .p-32-18 {
        font-size: var(--p-32-18);
    }

    .p-34-18 {
        font-size: clamp(1.125rem, 0.7404rem + 1.5385vw, 2.125rem);
    }

    .p-34-28 {
        font-size: clamp(1.75rem, 1.6058rem + 0.5769vw, 2.125rem);
    }

    .p-34-25 {
        font-size: clamp(1.5625rem, 1.1125rem + 1.8vw, 2.125rem);
    }

    .p-28-20 {
        font-size: clamp(1.25rem, 1.0577rem + 0.7692vw, 1.75rem);
    }

    .p-22-18 {
        font-size: clamp(1.125rem, 1.0288rem + 0.3846vw, 1.375rem);
    }

    .p-24-20 {
        font-size: clamp(1.25rem, 1.05rem + 0.8vw, 1.5rem);
    }

    .p-20-16 {
        font-size: clamp(1rem, 0.9038rem + 0.3846vw, 1.25rem);
    }

    .p-18-16 {
        font-size: clamp(1rem, 0.9519rem + 0.1923vw, 1.125rem);
    }

    .p-18-14 {
        font-size: clamp(0.875rem, 0.675rem + 0.8vw, 1.125rem);
    }

    .object-view {
        object-view-box: inset(0% -25% 0% 13%);
    }

    .remove-object-view {
        object-view-box: inset(1% 0% 0% 0%);
    }

    .object-po {
        object-position: 0px -30px;
    }

    .text-22-18px {
        font-size: clamp(1.125rem, 1rem + 0.6667vw, 1.375rem);
    }

    table {
        border-collapse: collapse;
    }

    /* For Banner Swiper */
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #444;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



    .bannerSwiper .swiper-pagination-bullet {
        width: 60px !important;
        height: 12px !important;
        border-radius: 0px !important;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0px;
        border-radius: 100px;
    }

    /* For Arrival Swiper */

    .swiper {
        width: 100%;
        height: 100%;
    }

    .arrivalSwiper .swiper-slide {
        background: white;
        /* width: fit-content !important; */

    }

    .arrivalSwiper {
        padding-right: 50px !important;
        padding-left: 50px !important;
        /* justify-content: center; */
    }


    .arrivalSwiper .swiper-button-next:after,
    .arrivalSwiper .swiper-rtl .swiper-button-prev:after {
        content: url('img/right-arrow.svg') !important;
    }

    .arrivalSwiper .swiper-button-prev:after,
    .arrivalSwiper .swiper-rtl .swiper-button-next:after {
        content: url('img/left-arrow.svg') !important;
    }

    .arrivalSwiper .swiper-button-next,
    .arrivalSwiper .swiper-button-prev {
        top: 38% !important;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #444;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



    /* For Feedback Swiper */



    .feedbackSwiper img {
        width: 58px;
        height: 58px;
    }

    .feedbackSwiper .swiper-slide {
        background-color: white;
        text-align: start;

    }

    .feedbackSwiper .swiper-horizontal>.swiper-pagination-bullets,
    .feedbackSwiper .swiper-pagination-bullets.swiper-pagination-horizontal,
    .feedbackSwiper .swiper-pagination-custom,
    .feedbackSwiper .swiper-pagination-fraction {
        bottom: 15px !important;
    }


    .feedbackSwiper {
        padding-bottom: 50px !important;
    }

    /* For Swiper Single Product */


    /* .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #444;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .swiper.singleProductSwiper2 {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide {
        background-size: cover;
        background-position: center;
    }

    .mySwiper2.singleProductSwiper2 {
        height: 80%;
        width: 100%;
    }
    .mySwiper.thumbSwiper {
        height: 100%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .mySwiper.thumbSwiper .swiper-slide {
        width: 85% !important;
        margin: auto;
        height: 100% ;
        opacity: 0.4;
    }
    .mySwiper.thumbSwiper .swiper-slide-thumb-active {
        opacity: 1;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
.mySwiper.thumbSwiper .swiper-wrapper{
    /* display: grid !important; */
    /* grid-template-columns: auto; */
    /* } */
    /* */
    */
    /* For Swiper Single Product Starts */


    .swiper {
        width: 100%;
        height: 100%;
    }

    .mySwiper2.singleProductSwiper2 {
        /* grid-column: span 2; */
        /* grid-column-start: 2; */
        /* grid-column-end: 3; */
    }

    .mySwiper.thumbSwiper {
        /* grid-column-start: 1; */
        /* grid-row-start: 1; */
    }

    .singleProductSwiper2 .swiper-wrapper {
        height: 500px;
    }

    .thumbSwiper .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #444;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .thumbSwiper .swiper-slide img {
        display: block;
        background-color: white;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        object-position: top;

    }

    .swiper.thumbSwiper {
        width: 100%;
        /* height: 300px; */
        margin-left: auto;
        margin-right: auto;
    }



    @media screen and (max-width:500px) {
        .mySwiper.thumbSwiper {
            /* height: 200px !important; */
            box-sizing: border-box;
            /* padding-left: 0%; */
            /* padding-right: 0%; */
            /* padding: 0px !important; */
            /* flex-basis: 60%; */
            padding-left: 10px !important;
            padding-right: 10px !important;
        }



        .swiper.mySwiper.thumbSwiper.swiper-horizontal {
            /* padding: 0px; */
        }

        .mySwiper.thumbSwiper .swiper-wrapper {
            display: flex;
            /* flex-direction: column; */
            /* width: fit-content !important; */
            /* place-items: center; */
        }

        .mySwiper.thumbSwiper .swiper-slide {
            min-width: 30px !important;
            height: 30px !important;
        }
    }


    @media (max-width:639px) {

        .singleProductSwiper2 .swiper-slide {
            height: 400px !important;
        }

        .mySwiper.thumbSwiper .swiper-slide {
            height: 80px !important;
        }

    }

    .swiper .mySwiper.thumbSwiper{
        /* height: 70vh !important; */
    }


    @media (min-width:500px) and (max-width : 1440px) {
        .mySwiper2.singleProductSwiper2 img {
            max-height: 100vh;
            object-position: top;
        }



    }

    .singleProductSwiper2 .swiper-wrapper {
        height: 80vh;
    }

    .swiper-vertical>.swiper-wrapper {
        height: 70vh !important;
    }

    .swiper-slide {
        background-size: cover;
        background-position: center;
    }

    .mySwiper2.singleProductSwiper2 {
        height: 100%;
        width: 100%;
    }

    .mySwiper2.singleProductSwiper2 img {
        max-height: 100vh;
        object-position: top;
    }

    /* .swiper{
    padding: 0%;
} */



    .mySwiper.thumbSwiper {
        /* height: 500px ; */
        height: auto;
        box-sizing: border-box;
        /* padding-left: 20px ; */
        /* padding-right: 20px; */
        /* padding: 20px !important; */
        /* flex-basis: 40%; */
    }

    .mySwiper.thumbSwiper .swiper-wrapper {
        display: flex;
        /* flex-direction: column; */
        /* width: fit-content !important; */
        /* place-items: center; */
    }

    .mySwiper.thumbSwiper .swiper-slide-thumb-active {
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
    }

    .mySwiper.thumbSwiper .swiper-slide {
        min-width: 120px;
        height: 100%;
        opacity: 0.4;
        /* height: 120px !important; */
    }

    .mySwiper.thumbSwiper .swiper-slide-thumb-active {
        opacity: 1;

    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* For Swiper Single Product Ends */

    /* For single product new swiper css starts*/


    /* .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .mySwiper2 {
      height: 80%;
      width: 100%;
    }

    .mySwiper.thumbSwiper {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .thumbSwiper.mySwiper .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    } */

    /* for swiper single product new css ends*/



    /* FOR JS */
    .content {
        display: none;
    }

    .content-active {
        display: block;
    }

    .btn-active {
        color: #1c1c1c;
    }

    .tab-btn {
        position: relative;
        /* padding: 0px 15px;
        cursor: pointer;
        font-size: 16px; */
        transition: color 0.3s ease;
    }

    .tab-order-btn {
        position: relative;
        transition: color 0.3s ease;
    }

    .tab-order-btn.btn-active {
        background-color: var(--light-bg-colour);
        padding-left: 53px;
        padding-right: 53px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 2px solid black;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }

    .tab-btn.btn-active::after {
        content: '';
        position: absolute;
        bottom: 0%;
        left: 0%;
        /* transform: translateX(-50%) scaleX(0); */
        width: 30%;
        /* wider than text */
        height: 2px;
        background-color: #000;
        /* transition: transform 0.3s ease; */
        /* transform-origin: center; */
        border-radius: 2px;
    }

}