@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

/* @theme{
    --font-poppins: "Poppins", sans-serif;
} */

:root{
    --dark-black: #3C4242;
    --light-black: #807D7E;
    --purple-colour : #8A33FD;
}

@layer components {
    body {
        font-family: "Poppins", sans-serif;
    }

    .object-view {
        object-view-box: inset(0% -25% 0% 13%);
    }
    .remove-object-view{
        object-view-box: inset(1% 0% 0% 0%);
    }
    .object-po{
        object-position: 0px -30px;
    }

    .text-22-18px{
        font-size: clamp(1.125rem, 1rem + 0.6667vw, 1.375rem);
    }
































/* For Swiper Single Product */
























    /* FOR JS */
     .content {
        display: none;
    }

     .content-active {
        display: block;
    }

    .btn-active {
        color: #1c1c1c;
    }

    .tab-btn {
        position: relative;
        /* padding: 0px 15px;
        cursor: pointer;
        font-size: 16px; */
        transition: color 0.3s ease;
    }

    .tab-btn.btn-active::after {
        content: '';
        position: absolute;
        bottom: 0%;
        left: 0%;
        /* transform: translateX(-50%) scaleX(0); */
        width:30%;
        /* wider than text */
        height: 2px;
        background-color: #000;
        /* transition: transform 0.3s ease; */
        /* transform-origin: center; */
        border-radius: 2px;
    }

}